@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */





header{
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    gap: 120px;
background-color:beige;
box-shadow: black;
    
}
nav{
    display: flex;
    align-items: center;
    gap: 45px;
    /* margin-left: 900px; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Courgette', cursive;

    margin-right: 100px;
}

nav a{
    color:black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: medium;

}
nav a:hover{
    /* color: rgb(9, 22, 139); */
    font-family: 'Oswald', sans-serif;
    transition: .5s linear; 
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;

}
body{
    /* background-image: url("/image/EDALY.png"); */
    font-family: 'Oswald', sans-serif;
}
.moi{
text-align: center;
}
/* copier */
h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    /* cursor: pointer; */
    margin-top: 60px;
    text-align: center;
  }
  h1 span{
    transition:  .5s linear;
  }
  
  h1:hover span{
    color: #fff;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform: uppercase;
  }
  .propos{
    text-align: justify;
    margin-top: 30px;
  }
  
  .propos h2{
     color: #fff;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;
  }
  .arti{
    margin-top: 40px;
    /* text-align:justify; */
    width: 50%;
    gap: 10px;
  }
  h2:hover{
    color: #fff;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;
  }
  .compet h2{
    color: #fff;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;
  }

  .compet:hover{
    color: #fff;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;           
                 font-weight: bold;
  }
.lili{
margin-left: 195px;

}
 
  .gauche{
    width: 50%;
    margin-top: 34px;
  }
  @media (max-width:768px) {
    nav{
        display: none;
    }
  }
  .propos h2{
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;
                 transition:  .5s linear
  }
  .gauche h2{
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(150, 23, 23),
                 0 0 20px rgb(114, 9, 9), 
                 0 0 40px rgb(143, 6, 6);
                 text-transform:uppercase;
                 font-size: xx-large;
                 font-weight: bold;
              transition:  .5s linear
  }
  .compet{
    display:block;
  }

  .compet h2{
    margin-top: 30px;
    margin-left: -5px;
  }
  .logoicone{
    display: flex;
    gap: 30px;
  }
  .compet h3{
    text-align: center;
  }



  
  @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

  .jt {
    position: relative;
    font-size: 7vmin;
    font-family: 'Staatliches', sans-serif;
    text-transform: uppercase;
    font-display: swap;
    text-shadow: 0 0 10px white;
  }
  
  .jt__row {
    display: block;
  }
  .jt__row:nth-child(1) {
    clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
  }
  .jt__row:nth-child(2) {
    clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
  }
  .jt__row:nth-child(3) {
    clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
  }
  .jt__row:nth-child(4) {
    clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
  }
  
  .jt__row.jt__row--sibling {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    witdh:800px;
  }
  
  .jt__text {
    display: block;
    transform-origin: bottom left;
    animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
  }
  .jt__row:nth-child(1) .jt__text {
    transform: translateY(-0.1em);
  }
  .jt__row:nth-child(2) .jt__text {
    transform: translateY(-0.3em) scaleY(1.1);
  }
  .jt__row:nth-child(3) .jt__text {
    transform: translateY(-0.5em) scaleY(1.2) ;
  }
  .jt__row:nth-child(4) .jt__text {
    transform: translateY(-0.7em) scaleY(1.3) ;
  }
  .jt__row:nth-child(5) .jt__text {
    transform: translateY(-0.9em) scaleY(1.4) ;
  }
  .jt__row:nth-child(6) .jt__text {
    transform: translateY(-1.1em) scaleY(1.5) ;
  }
  
  @keyframes moveIn {
    50%, 100% { 
      transform: translateY(0em)
    }
    0%   { 
    opacity: 0; 
    filter: blur(10px);
    
    }
    100% { 
    opacity: 1; 
    filter: blur(0px);
    }
  }
  
  header h2{
    display: none;
  }
  /* footer h2{
    display: none;
  } */
  .debug .jt__row:nth-child(even) {
    color: black;
    background: white;
  }
  .debug .jt__row:nth-child(odd) {
    color: white;
    background: black;
  }
  
  * { box-sizing: border-box }

 
  .burger{
    display: none;
  }
  
  @media (max-width:768px) 
   {
    nav{
      display: none;
    }


.burger{
  display: flex;
  width: 50px;
}
.logoicone{
  display: block;
  gap: 30px;
  margin-left: 80px;
}
.compet h3{
  text-align:left;
  
}
.compet h2{
    backround-color:violet;
    /* margin-left: -5px; */
    margin-left: 172px;
    
  }
.compet{
  margin-left: -200px;
}
.propos h2{
  margin-left: 30px;
}
h1{
  text-align: left;
}
.resu{
  margin-left: 60px;
}
.arti{
  margin-left: 50px;
}

  }

  /* accueil */

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */




.logo{
    width: 100px;
   box-shadow: white;
   margin-left: 180px;
}


nav a{
    color: black;
    text-decoration: none;
    font-size: larger;
    font-family: 'Oswald', sans-serif;

}
nav a:hover{
     font-family: 'Oswald', sans-serif;
     transition: .5s linear; 
     text-shadow: 0 0 10px rgb(150, 23, 23),
                  0 0 20px rgb(114, 9, 9), 
                  0 0 40px rgb(143, 6, 6);
                  text-transform:uppercase;
                  font-size: xx-large;
                  font-weight: bold;
}
.metier :hover{
  transition: .5s linear; 
  text-shadow: 0 0 10px rgb(150, 23, 23),
  0 0 20px rgb(114, 9, 9), 
  0 0 40px rgb(143, 6, 6);
  text-transform:uppercase;
  font-size: xx-large;
  font-weight: bold;
}
.container{
    display: flex;
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 100px;
    /* border: solid; */
    padding-left: 100px;
}


body{
  font-family: 'Oswald', sans-serif;
  


}

.bienvenue{
    align-items: center;
    margin-left: 236px;
    margin-top: 94px;
    font-family: 'Courgette', cursive;


}
.bienvenue h1{
    margin-bottom: 15PX;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    
}

.bienvenue h2{
    margin-bottom: 15PX;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
}
.bienvenue p{
    margin-bottom: 15PX;
}

  footer{
    margin-top: 80px;
    background-color: white;
    
    width: 100%;
  }
  

  /* partie contact */

  .link{
    width: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 25px;
}
.email{
    width: 80px;
}
.git{
    width: 80px;
    margin-bottom: 27px;
}
.iphone{
    width: 80px;
    margin-bottom: 20px;
}
.twit{
    width: 80px;
    margin-bottom: 20px;
}
.contact{
    display:flex;
    /* flex-direction: column; */
}
.art1{
    display: block;
    align-items: center;
    gap: 40px;
}

.git :hover{
  color: blue;
}
.art2{
    display: block;
    align-items: center;
    gap: 40px;
}
.art3{
    display: block;
    align-items: center;
    gap: 40px;
}
.art4{
    display: block;
    align-items: center;
    gap: 40px;
}
section.contact{
    background-color: rgb(231, 224, 224);
    gap:60px;
    justify-content: center;
}
.logoicone{  
    margin-left: 300px;
    
}
section.compet{
    text-align: center;
}
.sql{
    width: 90px;
}
.resu{
    text-align: center;
}
.back{
  background-color: black;
  color: white;
}
.moi{
  width: 100px;
  height: 120px;
  border-radius: 80px;
  
}
.infos{
  display: flex;
  gap: 40px;
}
.burger{
  display: none;
}
@media (max-width:768px) {
  .contact{
    align-items: center;
  }
  .infos{
    align-items: center;
    gap: 6px;
  }
  .moi{
display: none;
  }
  .burger{
    display: flex;
  }
  header h2{
    display: flex;
  }
  footer h2{
    display: flex;
  }
  footer{
    width: auto;
    margin-left: auto;
  }
  .back{
    background-color:white;
    color: black;
  }
}
.animeFo{
  margin-top: 100px;
}
